<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
            <!--hibernate4 以上的版本支持 MySQL5Dialect-->
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql:///testdb
        </property>
        <property name="hibernate.connection.username">
            test
        </property>
        <property name="hibernate.connection.password">
            
        </property>
        <property name="hibernate.show_sql">
            true
        </property>
        <property name="hibernate.format_sql">
            true
        </property>
        <property name="hibernate.hbm2ddl.auto">
        	update
        </property>
        <!--二级缓存，ehcache（适用于hibernate3）-->
        <!--
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.provider_class">
        	org.hibernate.cache.EhCacheProvider
        </property>
        -->
        <!--c3p0 连接池配置-->
        <!--
        <property name="connection.provider_class">
        	org.hibernate.connection.C3P0ConnectionProvider
        </property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">120</property>
        <property name="c3p0.idle_test_period">3000</property>
        -->    
        <mapping resource="hibernate/school/Student.hbm.xml"/>
        <!--ehcache 使用的并发级别和指定缓存的类（需要放在 mapping 后面）-->
        <!--<class-cache usage="read-write" class="hibernates.User"/>-->
    </session-factory>
</hibernate-configuration>